<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1" id="footer-logo">
                <img alt="Brand" src="img\header\logo_metropol_hotel_dark.png">
            </div>
            <div class="col-md-6 col-sm-11 col-xs-11" id="footer-info">
                <ol>
                    <li>
                        <div class="row"><strong class="col-md-4 col-sm-4 col-xs-4">Адрес:</strong><a
                                class="hotel-home col-md-8 col-sm-8 col-xs-8"
                                href="https://goo.gl/maps/tG7uajq3pS3VFcLi7" target="_blank">Kirova Street 13, Minsk
                                &#124; 220030 &#124; Belarus</a>
                        </div>
                    </li>
                    <li>
                        <div class="row"><strong class="col-md-4 col-sm-4 col-xs-4"
                                id="footer-info-indentation">Бронирование</br>номеров:</strong>
                            <a class="col-md-8 col-sm-8 col-xs-8" id="footer-info-indentation" href="tel:+375173297777"
                                title="Позвонить"> &#43;375 17
                                329 7777</a></br>
                            <a class="col-md-8 col-sm-8 col-xs-8" href="mailto:metropol-reservations@bghotel.by"
                                title="Написать письмо">metropol&#45;reservations&#64;bghotel.by</a>
                        </div>
                    </li>
                    <li>
                        <div class="row"><strong class="col-md-4 col-sm-4 col-xs-4">Общие вопросы&#58;</strong>
                            <a class="col-md-8 col-sm-8 col-xs-8" href="mailto:metropol@bghotel.by"
                                title="Написать письмо">metropol&#64;bghotel.by</a>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs" id="footer-item">
                <div class="col-md-6"><img src="img\footer\logo-awards.png" alt="logo"></div>
                <div class="col-md-6">
                    <p>Отель &#34;Metropol&#34; &#45; Лучший отель Беларуси 2018 и 2019 в номинации World Travel Awards.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid">
    <div class="footer_footer-ending">
        <h6>&#169; 2019 IHG. All rights reserved. Most hotels are independently owned and operated.</h6>
    </div>
</div>