<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-inverse">
                <div class="container-for-header">

                    <a href="index.html" alt="Brand" class="navbar-background"></a>

                    <button style="border: none" class="navbar-toggle" data-toggle="collapse"
                        data-target="#responsive-menu" id="icon-hamburger">
                        <img src="img\header\icon_hamburger.png" alt="">
                    </button>

                    <div class="collapse navbar-collapse" id="responsive-menu">
                        <ul class="nav navbar-nav">
                            <li><a class="text-uppercase" href="catalog.html">
                                    <p>Каталог номеров</p>
                                </a></li>
                            <li><a class="text-uppercase" href="specialoffer.html">
                                    <p>Спецпредложение</p>
                                </a></li>
                            <li><a class="text-uppercase" href="aboutUs.html">
                                    <p>О нас</p>
                                </a></li>
                            <li><a class="text-uppercase" class="btn btn-primary" role="button" data-toggle="modal"
                                    data-target=".bs-example-modal-lg">
                                    <p>Забронируйте прямо сейчас</p>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>